@using Blog.Models;
@model PostViewModel
@{
    ViewBag.Title = "文章内容";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../../Content/clean_blog/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.Author</a>
                        @Model.CreateDate.ToString("yyyy-MM-dd HH:mm")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>
<hr>