@{
    ViewBag.Title = "关于";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../../Content/clean_blog/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About</h1>
                    <span class="subheading">本博客用于发布ASP.NET相关学习分享。</span>
                </div>
            </div>
        </div>
    </div>
</header>
<hr>